 body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
    border-radius: 5%;
} 


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    gap: 98px;
}

.section-1{
width: 50%;
flex-direction: column;
padding-top:160px;
padding-left:165px;
padding-bottom: 120px;
gap: 71px;
display: flex;

}
.landing-page {
    padding-bottom: 1px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 16px; 
    display: flex;
}


.landing-page h1 {
    font-size: 36px;
font-family: Roboto;
font-weight: 500;
line-height: 48px;
word-wrap: break-word;
}


.landing-page p {
    color: #6F7CB2;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}


.card-section {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;  
     display: flex;
     flex-direction: column;
     gap: 30px;
}


.card-wrapper {
    display: flex;
    flex-direction: row;
     display: flex;
     gap: 30px;
     width: 100%;
}


.card {
   align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    width: 50%;
}


.card img {
    width: 36px;
     height: 36px;
}


.card h1 {
    color: #091133;
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 26px;
word-wrap: break-word;
}

.card p {
    color: #5D6970;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
}

.section {
    width: 50%;
    flex-direction: row;
    padding-top: 100px;
    padding-right: 165px;
}
